lmdeploy==0.7.0
timm==1.0.14 # because of error 'from timm.models.layers import DropPath' No module named 'timm'
flash-attn==2.7.3
sentence-transformers==3.4.1
nltk==3.8.1 # for evaluation
transformers==4.48.2