transformers==4.42.4
accelerate==0.32.1
datasets==2.20.0
sentencepiece==0.2.0
protobuf==4.25.3
bitsandbytes==0.43.1
pillow==10.4.0 # for loading images with the datasets library
nltk==3.8.1
lightning==2.3.3
tensorboard==2.17.0
torch_tb_profiler==0.4.3